/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

*{
    font-family:Noto Sans TC;
	font-family:sans-serif ;
}
body{
    background-color:black;
    /* width:1926px;
    height:5804px; */
    
}

.wrap{
    margin: 0 auto;
    max-width:1320px;
  
}
.header{
    display: flex;
    justify-content: space-between;
    margin-bottom:60px;
    padding-bottom:12px;
    border-bottom:1px solid white;
}
.change{
    color:white;
    display: flex;
    font-size:16px;
    padding-top:16px;
    gap:20px;
   
}


.change li a{
    text-decoration:none;
    color:white;
    
}

.fs-3_5{
    font-size:14px;
    line-height:21px;
}
.fs-4{
    font-size:16px;
    line-height:24px;
}
.fs-5{
    font-size:20px;
    line-height:24px;
}

.fs-8{
    font-size:32px;
    line-height:38.4px;
}
.fs-12{
    font-size:48px;
    line-height:57.6px;
}
.fs-20{
    font-size:80px;
    line-height:96px;
}
.fs-30{
    font-size:120px;
    line-height:144px;
}
.bl{
    color:black;

}
.wh{
    color:white;
}
.bolder{
    font-weight:bolder;
}
.bold{
    font-weight:bold;
}
.radius{
    border-radius:16px;
}
.radius-b{
    border-radius:160px; 
}


.begin{
    padding:20px 40px;
    border:1px solid white;
    width:80px;
    height:24px;
    text-align:center;
}
.image{
    display: flex;
    justify-content: flex-end;
    margin-top:100px;
}

.middle{
    margin-top:120px;
    display: flex;
    justify-content: space-between;
}

.middle h2{
    width:414px;
    padding-top:20px;
}
.middle p{
    width:856px;
}
.about{
    margin-top:40px;
    display: flex;
    gap:20px;
    margin-bottom:120px;
  
}
.about-item{
  
padding:80px 40px;
border:1px solid white;
}

.swiper-wrapper{
    margin-top:40px;
    display: flex;
    flex-wrap:wrap;
    padding:20px;
}

.swiper-slide img{
  width:160px;
  height:40px;
}
.under{
    margin-top:100px;
    display: flex;
   
    gap:20px;
    margin-bottom:160px;
   
}
.under-item{
    background-color:rgba(255, 255, 255, 0.08);
    width:370px;
    padding:40px;

}
/* .under-up{
    height:300px;
} */
.under-nav{
    display: flex;
    height:100px;
}
.avatar-l{
    display: flex;
    justify-content: center;
    align-items: center;
}
.avatar-r{
    padding-left:20px;
    padding-top:25px;
}

.middle-wrap{
    

    background:white;
    padding:80px ;
    margin:0 auto;
}
.middle-in{
  max-width:1296px;
  margin:0 auto;
}
.middle-wrap h3{
    margin-top:160px;
 

}
.middle-wrap input{
    height:64px;
    width:100%;
    background:#F2F2F2;
    color: #919191;
   
}

.search{
 
   
    display: flex;
    justify-content: space-between;
    padding-top:40px;
}
.choose{
    display: flex;
    justify-content: space-between;
    gap:24px;
    overflow-x:auto;
    white-space:nowrap;
}
.choose li a{
    padding:8px 16px;
    display:block;
    text-decoration: none;
    color:black;
}
.choose li {
  padding:8px 16px;



}

.choose li:hover,.choose li:active{
    color:black !important;
    background-color:#F2F2F2;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight:bold;
    border-radius:16px;
}
button{
    width:132px;
    height:64px;
    padding:20px;
    border:1px solid rgb(224, 212, 212);
    background-color:#f9f6f6;
}
.banner{
    margin-top:50px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  
}
.border{
	border-left:0.25px lightgrey solid;
	border-right:0.25px lightgrey solid;
  display:block;
	flex-grow:1;

}
.card{
	margin-bottom:20px;
	width:416px;
	display: flex;
	flex-direction:column;
	overflow:hidden;
	border-radius:10% 10% 0 0 ;

}
.card img{
	
	border-radius:10% 10% 0 0 ;
	width: 416px;
	height:312px;
	border:0.5px lightgrey solid;
}
.card:hover img{
	transform:scale(1.2)
}

.tag a{
	text-decoration:none;
	color:black;
}
.cover{
	overflow:hidden;
}
.nav{
	display: flex;
	justify-content: space-between;
	border-top:0.25px lightgrey solid;
	border-left:0.25px lightgrey solid;
	border-right:0.25px lightgrey solid;
	padding:20px;
}
.tag{
	
	display: flex;
	flex-wrap:wrap;
	justify-content: space-between;
	border:0.25px lightgrey solid;
	padding:20px;
}
.border p{
	padding-left: 20px;
	padding-bottom: 30px;
	font-size: 10px;
}

.border h4{
    padding:20px 0px 20px 20px;
}
span{
    display: flex;
    align-items: center;
}
.corner{
    display: flex;
    justify-content: flex-end;

    
   
}
.number li:hover,.number li:active{
    background-color: black;
    color:white;
    border-radius:16px;
}
.number{
    display: flex;

}

.number li{
    gap:20px;
    width:48px;
    height:48px;
   justify-content: center;
    display: flex;
    align-items: center;
}
.pagedown{
    max-width:1320px;
    margin:0 auto;

}

.pagedown-on {
padding-bottom:100px;
text-align: center;
 border-bottom: 1px solid white;
margin:0 auto;
    }
  
    .pagedown-on p {
padding-top:158px;
 padding-bottom:40px;
 

    }
.pagedown-on p a{
  text-decoration:none;
  color:white;
}


.pagedown-on button,.topic button{

  background:black;

  width:170px;
  height:64px;

}
.pagedown-on button{
  margin:0 auto;
}





.pagedown-center{
  display: flex;
 justify-content: space-between;
}
.pagedown-center h3 a{
  text-decoration:none;
  color:white;
}
.pagedown-center img{
    width:190px;
    height:40px;
    margin-top:80px;
}

.pagedown-bottom{
   
     
       display: flex;
       justify-content: space-between;

         border-top: 1px solid white;
        
            
}

.chat{
    display: flex;
    justify-content: space-between;
    gap:20px;
}
.chat a{
  text-decoration:none;
  color:white;
}
.end{
    padding-top:20px;
}
.end a{
  text-decoration:none;
  color:white;
}
@media(max-width:1000px){
  .banner{

    justify-content: center;
   }
 
}
@media(max-width:765px){
  .under{ 

  flex-direction: column;
  }

  .middle-wrap{

    padding:80px 12px 80px 12px;
  
}
.banner{

  justify-content: center;
 }
 .card{
  width:416px;
 
 }
.pagedown-center img{
  width:190px;
    height:40px;
    margin-top:80px;
}
.seek{
  
  width:100%;
 
}
.corner{
margin-right:80px;
  
 
}
}
@media(max-width:414px){
  .fs-sm-3_5{
     font-size:14px;
    line-height:21px;
  }
   .fs-sm-4{
     font-size:16px;
    line-height:24px;
  }
   .fs-sm-5{
       font-size:20px;
    line-height:24px;
  }
   .fs-sm-8{
      font-size:32px;
    line-height:38.4px;
  }
   .fs-sm-12{
       font-size:48px;
    line-height:57.6px;
  }
   .fs-sm-20{
      font-size:80px;
    line-height:96px;
  }
  .fs-sm-30{
      font-size:120px;
    line-height:144px;

  }
  .middle-wrap{

    padding:80px 12px 80px 12px;
  
}
     .wrap{  
     padding:0px 12px;
      max-width:100%;

    }
  .header{
    width:100%;
  }
  .logo{
    width:113.4px;
    height:24px;
  
  }
    .change{
      display:none;
    }
    .image{
        display: flex;
        justify-content: start;
      
    }
  .image img{
    width:30%;
  }
  .middle{
    flex-direction:column;
    
  }
  
  .middle p{
       width:100%;
  }
  
  .about-item p{
 
    width:100%;
  }
  .about{
    flex-direction:column;
  }
  .swiper-wrapper{
   height:48px;
    width:100%;
    overflow:hidden;
  }
 
    .under-item{
/*     flex-direction:column; */
width:100%;
  max-width:379px;
   

  }
 .n2,.n3{
  display:none;
 }
  
  .middle-wrap{
    max-width:100%;
      /* height:4500px; */
     margin-left:12px;
  }
 .middle-wrap h3{
     width:100%;
    text-align:center;
  
  }
   .middle-wrap input{
    width:100%;
 
    
  } 
  .seek{
  
    width:100%;
   
  }
  .left{
    order:1;
  }
  .right{
    order:2;
  }
.inside{
    order:3;
  }
  .search{
    display: flex;
    flex-wrap:wrap;
    /* width:100%; */
  }
  .search-tool{
    position:relative;
    display:inline-block;
  }
 .serach-tool .material-symbols-outlined{
    position:absolute;
    padding:20px;
    }
  .banner{
    flex-direction:column;
    max-width:370px;
  }
  .pagedown{
    max-width:100%;
    padding:0px 12px;
  }
  .pagedown-bottom{
    width:100%;
    display: flex;
    flex-wrap:wrap;
  }
  
   .chat{
    order:3;
  }
  .pagedown-bottom h5{
    order:1;
  }
  .end{
    order:2;
  }
  .pagedown-center{
    width:100%;
    flex-direction:column;
  }
  
  .pagedown-center img{
    width:190px;
    height:40px;
    margin-top:80px;
    order:1;
  }
  .pagedown-center h3{

    order:2;
  }
  .pagedown-on{
  width:100%;

  flex-direction:column;
  
  }

  .corner{
    margin-right:80px;
      
     
    }

   .card{
    max-width:350px;
   
   }

}