/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain) */


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4,h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body{
    background-color:black;
    width:1926px;
    height:5804px;
    
}

.wrap{
    margin: 0 auto;
    max-width:1296px;
}
.header{
    display: flex;
    justify-content: space-between;
    margin-bottom:60px;
    padding-bottom:12px;
    border-bottom:1px solid white;
}
.change{
    color:white;
    display: flex;
    font-size:16px;
    padding-top:16px;
    gap:20px;
   
}


.change li a{
    text-decoration:none;
    color:white;
    
}


.fs-3_5{
    font-size:14px;
    line-height:21px;
}
.fs-4{
    font-size:16px;
    line-height:24px;
}
.fs-5{
    font-size:20px;
    line-height:24px;
}

.fs-8{
    font-size:32px;
    line-height:38.4px;
}
.fs-12{
    font-size:48px;
    line-height:57.6px;
}
.fs-20{
    font-size:80px;
    line-height:96px;
}
.fs-30{
    font-size:120px;
    line-height:144px;
}
.bl{
    color:black;

}
.wh{
    color:white;
}
.bolder{
    font-weight:bolder;
}
.bold{
    font-weight:bold;
}
.radius{
    border-radius:16px;
}
.radius-b{
    border-radius:160px; 
}

.begin{
    padding:20px 40px;
    border:1px solid white;
    width:80px;
    height:24px;
}

.image{
    display: flex;
    justify-content: start;
    margin-top:100px;
    margin-bottom:100px;
}

.headbanner p{
    margin-top:120px;
    margin-left:660px;
    width:636px;
}
.allbusiness{
    display: flex;
    gap:8px;
    flex-wrap:wrap;
    margin-top:100px;
   margin-bottom:160px;
}
.businesscard{
width:636px;
height:318px;
border:1px solid white;

}

.grey{
    color:#919191;
}
.businessdown{
    height:64px;
    border-top:1px solid white;
    display: flex;
    justify-content: space-between;
    padding:15px 32px;
	
}
.item{
  
    padding-top:20px;
    padding-left:32px;
    
}
.businesstop{
height:254px;
}
.distance{
    margin-bottom:20px;
}
.section{
    
    display: flex;
    justify-content: space-between;
    margin-bottom:160px;
}
.businessdown span{
    display: flex;
    align-items: center;
}
.itemsection h3{
    padding:24px 0px;
   
}

.itemsection p{
    padding:24px 0px;
    border-bottom:1px solid white;
}
.middle-wrap{
    
    width:1920px;
    height:1920px;
    background:white;
    padding:80px 312px 312px 312px;
    margin:0 auto;
}
.middle-wrap h3{
    margin-top:160px;
    margin-left:312px;

}
.seek{
    height:64px;
    width:1296px;
    background:#F2F2F2;
    color: #919191;
    margin-left:312px;
}

.search{
    margin-left:312px;
    width:1296px;
    display: flex;
    justify-content: space-between;
    padding-top:40px;
}
.choose{
    display: flex;
    justify-content: space-between;
    gap:24px;
}
.choose li{
    padding:8px 16px;
  
}

.detail{
    color:black !important;
    background-color:#F2F2F2;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
button{
    width:132px;
    height:64px;
    padding:20px;
    border:1px solid rgb(224, 212, 212);
    background-color:#f9f6f6;
}
.banner{
    margin-top:50px;
    margin-left:270px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width:1296px;
}
.border{
	border-left:0.25px lightgrey solid;
	border-right:0.25px lightgrey solid;
  display:block;
	flex-grow:1;

}
.card{
	margin-bottom:20px;
	width:416px;
	display: flex;
	flex-direction:column;
	overflow:hidden;
	border-radius:10% 10% 0 0 ;

}
.card img{
	
	border-radius:10% 10% 0 0 ;
	width: 416px;
	height:312px;
	border:0.5px lightgrey solid;
}
.card img:hover{
	transform:scale(1.2)
}

.tag a{
	text-decoration:none;
	color:black;
}
.cover{
	overflow:hidden;
}
.nav{
	display: flex;
	justify-content: space-between;
	border-top:0.25px lightgrey solid;
	border-left:0.25px lightgrey solid;
	border-right:0.25px lightgrey solid;
	padding:20px;
}
.tag{
	
	display: flex;
	flex-wrap:wrap;
	justify-content: space-between;
	border:0.25px lightgrey solid;
	padding:20px;
}
.border p{
	padding-left: 20px;
	padding-bottom: 30px;
	font-size: 10px;
}

.border h4{
    padding:20px 0px 20px 20px;
}
span{
    display: flex;
    align-items: center;
}
.corner{
    display: flex;
    justify-content: flex-end;
    margin-right:312px;
    
   
}
.first{
    background-color: black;
    color:white;
 
}
.number{
    display: flex;

}

.number li{
    gap:20px;
    width:48px;
    height:48px;
   justify-content: center;
    display: flex;
    align-items: center;
}
.pagedown{
    width:1296px;
    margin:0 auto;
}

.pagedown-on {
    margin-top:50px;
padding-bottom:100px;
display: flex;
justify-content: space-between;
 border-bottom: 1px solid white;

    }
.select{
    width:732px;
    

}
.select li{
    border:1px solid white;
    gap:8px;
    padding:20px 40px 20px 84px;
}
    .pagedown-on p {
padding-top:158px;
 padding-bottom:40px;
 

    }


.center{
  margin-left:600px;
}

.pagedown-center{
  display: flex;
 justify-content: space-between;
}

.pagedown-center img{
    width:190px;
    height:40px;
    margin-top:80px;
}

.pagedown-bottom{
   
     
       display: flex;
       justify-content: space-between;

         border-top: 1px solid white;
        
            
}

.chat{
    display: flex;
    justify-content: space-between;
    gap:20px;
}
.end{
    padding-top:20px;
}

@media(max-width:365px){
    .fs-sm-3_5{
     font-size:14px;
    line-height:21px;
  }
   .fs-sm-4{
     font-size:16px;
    line-height:24px;
  }
   .fs-sm-5{
       font-size:20px;
    line-height:24px;
  }
   .fs-sm-8{
      font-size:32px;
    line-height:38.4px;
  }
   .fs-sm-12{
       font-size:48px;
    line-height:57.6px;
  }
   .fs-sm-20{
      font-size:80px;
    line-height:96px;
  }
  .fs-sm-30{
      font-size:120px;
    line-height:144px;

  }
}

